<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Scrabble Score</title>
  </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="page-header">
            <h1>Scrabble Score</h1>
          </div>
          <div class="col-md-4">
            <h4>player 1:</h4>
            <h5>{{ p1score }}</h5>
          </div>
          <div class="col-md-4">
            <form action="/">
              {% if p1score > p2score %}
                <h2>Player 1 Wins!</h2>
              {% elseif p2score > p1score %}
                <h2>Player 2 Wins!</h2>
              {% elseif p2score == p1score %}
                <h2>Draw!</h2>
              {% else %}
                <h2>Something is wrong, fix it!</h2>
              {% endif %}
              <button type="submit" class="btn btn-success btn-lg">Home</button>
            </form>
          </div>
          <div class="col-md-4">
            <h4>player 2:</h4>
            <h5>{{ p2score }}</h5>
          </div>
        </div>
      </div>
  </body>
</html>
